body {
  .container {
    form {
      margin: 0 auto;
      max-width: 300px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      input {
        margin: 1rem;
        width: 100%;
      }
    }

    &.home-container {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
